.root > div{
    height: 1000px;
}

.root > * + * {
    margin-top: 20px;
}

.blue{
    background-color: hsl(200, 48%, 21%);
}

.pink{
    background-color: hsl(331, 39%, 24%);
}

.cyan {
    background-color: hsl(184, 62%, 22%);
}

.root p {
    max-width: 400px;
    padding: 10px;
}
